.serverbannerdiv{
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
    h1{
        color: #fff;
        font-weight: 700;
    }
}

.crd{
    width: 300px;
    text-align: center;
    img{
        margin-bottom: 20px;
    }
}